    <div class="jumbotron">
      <div class="container">
        <h1>So, you want to learn more.</h1>
        <p>We are improving the social experience.  We use data on the most relevant and local level to do just that.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <h2>Why?</h2>
          <p>Basically, we feel that by giving you access to the information you really want, your happy hour experiences are going to changed forever!</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <h2>What?</h2>
          <p>Find daily happy hour drink and food prices? Sure.  But we us technology to take it a few steps further than that!</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <h2>The Cool Part!</h2>
          <p>We use technology to bring you real-time local data.  Check your city's customized social feed to see what places are #trending on Twitter or Instagram.  Want to just chill or go crazy--Check how busy the location is, in real time!</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; PubHappy 2014</p>
      </footer>
    </div>
