<body>
	
	<div class="jumbotron" class="center">
		<h1>You + Pub = Happy!</h1>
			<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-primary" %>.</p>
	</div>
	
<!--(The carousel isn't quite working like I want so I just made circular images.)-->	
<div id = "myCarousel" class = "carousel slide" data-ride = 'carousel'>
	<ol class = 'carousel-indicators'>
		<li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li> 
		<li data-target = "#myCarousel" data-slide-to = "1"></li>
		<li data-target = "#myCarousel" data-slide-to = "2"></li> 
	</ol>
		<div class = 'carousel-inner'>
			<div class = "item active">
				<img src = 'http://suturi.com/wp-content/uploads/2012/12/ID-16374999-e1356964627231-1200x500.jpg' alt = 'Drink Flight'>
			</div>

			<div class = "item">
				<img src = 'http://www.newbohemiausa.com/wp-content/uploads/2013/06/newbohemiabiers2-1200x500.jpg' alt = 'Wine'>		
			</div>

			<div class = "item">
				<img src = 'http://suturi.com/wp-content/uploads/2012/10/11116-1200x500.jpg' alt = 'Food Pic'>
			</div>
		</div>

<!--Carousel Controls-->
				<a class = 'left carousel-control' href = '#myCarousel' data-slide = 'prev'>
					<span class = 'glyphicon glyphicon-chevron-left'></span>
				</a>

				<a class = 'right carousel-control' href = '#myCarousel' data-slide = 'next'>
					<span class = 'glyphicon glyphicon-chevron-right'></span>
				</a>

</div>		
<!--Features Content-->
<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row buffer">
      	 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
          <img class="img-circle" "text-center" src="http://guestofaguest.com/wp-content/uploads/2010/11/red-snapper.jpg" alt="Flaming Cocktail">
          	<h2>Happy Hours in your City</h2>
          				<p>Drinks?  Food?  Find what you want.</p>
          				<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       	</div>  				
        
 		 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
          <img class="img-circle" src="http://spanishfoodclub.com/wp-content/uploads/2013/12/Wine-at-Christmas.jpg" alt="Wine">
          	<h2>The Right Experience</h2>
          				<p>Check the action before you arrive</p>
          				<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
          <img class="img-circle" src="http://lovindublin.com/wp-content/uploads/2013/10/instagram_food.jpg" alt="Generic placeholder image">
          	<h2>#Dishes & #Drinks</h2>
          				<p>Is someone putting your next fave on Twitter or Instagram right now?</p>
          				<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      	</div>
      </div>
 </div><!--Container Marketing-->
</div>

</body>