// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$navbar-default-bg:		#d35400;
$navbar-default-link-color:	white;
$body-bg:		#ecf0f1;
$jumbotron-bg:	#ecf0f1;
.img-circle { 
			height: 200px;
			width: 	200px;	
}






@import 'bootstrap';